fastapi~=0.105.0
uvicorn~=0.30.0
wechatpy~=2.0.0
cryptography~=45.0.4
typing-extensions~=4.8.0; python_version < "3.10"
python-jose~=3.3.0
passlib~=1.7.4
python-multipart~=0.0.9
fastapi_cdn_host~=0.1.0